.product__link {
    cursor: pointer;
    width: 13rem;
    margin: 10px;
}

.product__card {
    width: 20rem;
    margin: 10px;
}

.product__preview__img {
    height: 150px;
    object-fit: cover !important;
}