.category-page-container {
    min-height: 90vh;
}

.category__banner__container {
    height: 200px;
    background-color: #182e39;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.filter__container {
    display: flex;
    justify-content: center;
}

.preview__box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}